@charset "UTF-8";

body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

body {
  font-family: 'Noto Serif', serif;
}

header {
  width: 100%;
  background-color: #fff;
}

.header_all {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  padding: 10px 20px;
}

header .logo img {
  width: auto;
  height: 60px;
}

header .nav_bar {
  margin: 0 30px;
  }

  header .nav_bar ul {
    display: flex;
  }

  header .nav_bar ul .respons {
    visibility:hidden
  }

  header .nav_bar ul li {
    margin: 40px 16px 0;
    height: 50px
  }

  header .nav_bar ul li a small {
    visibility: hidden;
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #5B8FAD;
    margin-top: 2px;
    padding-top: 6px;
    text-align: center;
    border-top: 3px solid #5B8FAD;
  }

  header .nav_bar ul li a {
    font-size: 24px;
    font-weight: bold;
    color: #606060;
    padding: 8px 0px;
  }

  header .nav_bar ul li a:hover {
    color: #5B8FAD;
  }

  header .nav_bar ul li a:hover small {
    visibility: visible;
    border-top: 2px solid #5B8FAD;
  }

  header .drawer {
    visibility: hidden;
  }

  .top {
    width: 100%;
    height: auto;
  }

  .top_bg {
    position: relative;
    width: 100%;
    height: 70vh;
    min-height: 680px;
    background: url(../img/top.jpg) no-repeat center ;
    background-position:70% 80%;
    background-size:cover;
  }

  .top .top_img {
    position:absolute;
    top: 30%;
    left: 8%;
    width: 880px;
    height: auto;
    z-index: 3;
    color: rgb(180,180,180);
    font-size: 22px;
  }

  .top .top_img .subtext {
    margin-left: 10px;
  }

  .top .top_img img {
    width: 500px;
    height: auto;
  }

  .about_wrap {
    display: flex;
    justify-content: center;
    padding-left: 4%;
  }

  .about_img {
    display: inline-block;
    position: relative;
  }

  .about_img img{
    max-width: 500px;
    width: 50vw;
    height: auto;
  }

  .about_img::after {
    position: absolute;
    display: block;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 0 16px 10px #fff;
  }

  .about_txt {
    margin: 8px 4%;
  }

  .about_wrap .about_txt .about_ttl h3 {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 24px;
    color: #e4a93b;
  }
  
  .about_wrap .about_txt .about_ttl::after {
    content: "";
    display: inline-block;
    width: calc(100% - 290px);
    height: 3px;
    background: #e4a93b;
  }
  
  .about_wrap .about_txt p {
    line-height: 48px;
  }
  
  .about_wrap .about_txt p strong {
    background: linear-gradient(transparent 50%, #ffec9a 50%);
  }

  .section_ttl {
    display: block;
    text-align: center;
    margin: 100px auto;
  }
  
  .section_ttl h2 {
    display: inline-block;
    font-size: 50px;
    color: #5B8FAD;
    margin: 0 auto;
  }
  
  .section_ttl small {
    display: block;
    font-size: 30px;
    font-weight: 400;
    color: #5B8FAD;
    margin: 0px auto 50px;
    font-weight: bold;
    border-top: 3px solid #5B8FAD;
  }
  
  .feature_txt {
    padding: 0 3%;
  }
  
  .feature_txt p {
    letter-spacing: .2em;
    line-height: 1.8em;
    padding-bottom: 140px;
  }
  
  .feature_txt p strong {
    color: #e4a93b
  }
  
  .feature_txt p span {
    border-bottom: 2px solid #e4a93b;
  }

  .feature_wrap .feature_item {
    width: 480px;
    height: 680px;
    margin: 0 16px;
    background-color: #fff;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,.1);
    display: inline-block;
  }
  
  .feature_wrap .feature_item .feature_img {
    width: 100%;
    height:420px;
    background-position: 60% 50%;
    background-size:cover;
  }
  
  .feature_wrap .item1 .feature_img {
    background-image: url(../img/feature1.jpg);
  }
  
  .feature_wrap .item2 .feature_img {
    background-image: url(../img/feature2.jpg);
  }
  
  .feature_wrap .feature_item h3 {
    padding: 28px 0;
    font-size: 28px;
    text-align: center;
  }
  
  .feature_wrap .feature_item p {
    padding: 0 24px;
    font-size: 24px;
    line-height: 1.5em;
  }

  .feature_section .inner {
    background-color: #cdc7c7;
  }

  .service_txt {
    padding: 0 3%;
  }
  
  .service_txt p {
    letter-spacing: .2em;
    line-height: 1.8em;
    padding-bottom: 100px;
  }
  
  .service_txt p span {
    border-bottom: 2px solid #e4a93b;
  }
  
  .service_txt p strong {
    color: #e4a93b
  }





